body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1 {
  font-size: 65px;
  font-weight: 800;
  color: rgb(116, 116, 116);
}
p {
  font-size: 20px;
  color: rgb(116, 116, 116);
  padding-bottom: 40px;
}
.front-side {
  display: flex;
}
.front-color {
  color: rgb(108, 192, 245);
}
.half-width {
  width: 45%;
  margin-left: 5%;
}
.half-width img {
  width: 105%;
}
#height-1 {
  margin-top: 10%;
}
#height-2 {
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 5%;
}
.button {
  text-decoration: none;
  padding: 20px 40px;
  border: 1px solid;
  background-image: linear-gradient(rgb(0, 195, 255), lightblue);
  border-radius: 32px;
  color: white;
}
.mid-width {
  padding-top: 10%;
  padding-bottom: 20%;
  margin-left: 50%;
  text-align: justify;
  margin-right: 15%;
}
.mid-side {
  background-image: url(images/Cover.png);
  background-size: cover;
}
.recipie-width {
  width: 20%;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  padding: 1%;
  box-shadow: 10px 10px 40px gray;
}
#food-1 {
  margin-left: 13%;
}
#food-2 {
}
#food-3 {
}
.recipie-width img {
  width: 100%;
  border-radius: 5%;
}
#recipie {
  text-align: center;
  margin-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
}
